   {{> post-content post}}

{{#if loggedIn}}
<form class="comment-form">
  <span>Add a comment:</span>
  <div>
    <textarea name="comment-content"></textarea>
  </div>

  <div>
    <button type="submit" class="button">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}